/* .RCP__pointer::after{
    content: url(../public/Status\ slider.svg);
    display: block;
    width: 100px;
} */
/* .circle__wrapper{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 22px;
}
.circle__top{
    position: relative;
} */

.active {
    color: red;
}

.disabled {
    color: gray;
    text-decoration: none;
}